
.drag{
  transition: transform 50ms linear;
  background-color: #999999;
  cursor: move;
  padding: 10px;
  padding-top: 2px;

  border-color: #eeeeee;
  border-radius: 10px;
  width:200px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
}

.app{
  background-color: #777777;
  position: inherit;
}
