
.drag{
  transition: transform 50ms linear;
  background-color: #722f68;
  cursor: move;
  padding: 10px;
  padding-top: 2px;
  color: #cccccc;
  font-size: 20px;
  border-color: #999999;
  text-align: center;
  width:200px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 4px;
}

.app{
  
}
.container{
  color: #ef5fda;
  font-size: 30px;
  background-color: #444444;
  float: left;
  padding: 3%;
  padding-top: 1%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #999999;
}
.area{
  padding: 5%;
  position: absolute;
  background-color: #222222;
  width: 70%;
}
