
.drag{
  background-color: #722f68;
  cursor: move;
  padding-top: 2px;
  color: #cccccc;
  font-size: 20px;
  border-color: #999999;
  text-align: center;
  width:200px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  align-items: center;
}
.draggable{
  transition: transform 50ms linear;
}
.droppable{

  float: left;
  position: relative;
  width: auto;
  height: auto;
}

.app{

}

.container{
  position: relative;
  color: #ef5fda;
  font-size: 30px;
  background-color: #444444;
  padding-top: 1%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #999999;
  align-content: center;
  width: 250px;
}
.area{
  color: #ef5fda;
  padding: 5%;
  position: absolute;
  background-color: #222222;
  width: 100%;
}
